## Data Types

* Text Type: 	str
* Numeric Types: 	int, float, complex
* Sequence Types: 	list, tuple, range
* Mapping Type: 	dict
* Set Types: 	set, frozenset
* Boolean Type: 	bool
* Binary Types: 	bytes, bytearray, memoryview
* None Type: 	NoneType

In [42]:
x = "string"
x = 1
x,y,z = 1,1.5,1j
x,y,z = [1,2,"balana"],(x,y,z),range(1,10)
d = {"a":"applle","b":"balu"}
s,f = {12,23},frozenset({1,2,3})
avunu, kadu = True,False
b = b"Hello" #bytes
b = bytearray("4",encoding="utf-8")
x = memoryview(bytearray(4))

In [65]:
a = list((1,2,3))
b = tuple(a)
c = set(a)
d = bytes(23)
x =memoryview(d)

### Numbers

In [66]:
x = 1
y = 2.2
z = 1j

In [78]:
a,b,c = 1.20,2.9,34535e23
type(c)

float

In [80]:
int(c)

3453499999999999813479301120

In [89]:
int(34E11)

3400000000000

In [94]:
x = 3+5j
y = 5j
z = -6j

x+z

(3-1j)

In [173]:
#importing random number
import random 
a = random.randrange(1,100)
print(a)

54

In [227]:
#strings

a = "I'm a string"

b = '''
        I'm a very big lenght stirng
        i can expand multiple to multiple lines

'''

In [178]:
print(b)

        I'm a very big lenght stirng
        i can expand multiple to multiple lines

In [183]:
#slicing strings

a[3:5]

' a'

In [184]:
a[:6]

"I'm a "

In [186]:
#modify strings

a.capitalize()

"I'm a string"

In [188]:
a.upper()

"I'M A STRING"

In [189]:
a.lower()

"i'm a string"

In [195]:
b = "              Balu"
b.strip() #removes the white space from beginning

'Balu'

In [197]:
#concatenate strings
a +b

"I'm a string              Balu"

In [201]:
a + b.strip()

"I'm a stringBalu"

In [203]:
"bala is a {} old".format(20)

'bala is a 20 old'

In [224]:
f"a for\"{a}\""

'a for"\'m a string"'

In [247]:
a.lower()
a.upper()
a.casefold()
a.count('a')
a.find('s')
a.split(' ')

["I'm", 'a', 'string']