### Tuples

In [1]:
a = ("1","two",3,4.4,False)
a

('1', 'two', 3, 4.4, False)

In [2]:
len(a)

5

In [7]:
type([n for n in a])

list

In [9]:
b = a;
b

('1', 'two', 3, 4.4, False)

In [10]:
a = ['pass']

In [12]:
b = a
a= True
b

['pass']

In [16]:
a = tuple(("Bala",34,5.5,"las"))

In [18]:
a

('Bala', 34, 5.5, 'las')

In [19]:
a = [5,3,2,4,5,5]
b = set(a)
b

{2, 3, 4, 5}

In [22]:
b.pop()
b

{5}

In [26]:
#Negitive INdexing..
a = (1,3,4,234,0,5,3,20)
a[-1::-1]

(20, 3, 5, 0, 234, 4, 3, 1)

In [28]:
a[:4]

(1, 3, 4, 234)

In [29]:
a

(1, 3, 4, 234, 0, 5, 3, 20)

In [49]:
a[2:]

(4, 234, 0, 5, 3, 20)

In [112]:
a = (1,2,3,4,5,6,7,8,9,10)

a[-4:-1]

(7, 8, 9)

In [54]:
#chekc if number is presetnt or not......

if "3" in [str(n) for n in a]:
    print("Hey, you got a number")

Hey, you got a number

In [67]:
#Update Tuples...
a = list(a)
a[1:3] = ["Two","Three"]
a = tuple(a)
a

(1, 'Two', 'Three', 6, 7, 8, 9, 10)

In [110]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [77]:
#unpack tuples...
one,two,three = a[0:3]
one,two,three

(1, 'Two', 'Three')

In [141]:
[[0]+[n for n in a]][0][0::2]

[0, 2, 4, 6, 8, 10]

#### Tuple unpacking

In [148]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [149]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(red,*yellow,green) = fruits
print(red)
print(yellow)
print(green)

apple
['mango', 'papaya', 'pineapple']
cherry

### Loop Tuples...

In [152]:
fruits
for i in fruits:
    print(i)

apple
mango
papaya
pineapple
cherry

In [153]:
for i in range(len(fruits)):
    print(fruits[i])

apple
mango
papaya
pineapple
cherry

In [155]:
i =0
while i<len(fruits):
    print(fruits[i])
    i+=1

apple
mango
papaya
pineapple
cherry

In [159]:
# Join Tuples...
c = a+fruits
c

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'apple',
 'mango',
 'papaya',
 'pineapple',
 'cherry')

In [162]:
#multiply Tuples...
d = fruits * 2
d

('apple',
 'mango',
 'papaya',
 'pineapple',
 'cherry',
 'apple',
 'mango',
 'papaya',
 'pineapple',
 'cherry')

In [165]:
#tuple methods..

a.count(1)

1

In [168]:
fruits.index("cherry")

4

In [170]:
fruits

('apple', 'mango', 'papaya', 'pineapple', 'cherry')

In [178]:
#exercise...
#count the number of duplicates in list..

a = [2,2,3,4,5,6,7,4,8,9,0,2]

[n for n in a if a.count(n) == 1]

[3, 5, 6, 7, 8, 9, 0]